body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 3em 0;
  max-width: 960px;
}

h1 {
  color: #ea155c;
  font-size: 6em;
  font-family: 'Poiret One', cursive;
  line-height: 0.9em;
  margin: 0 0 0.15em 0;
  text-align: center;
}

h3 {
  color: #888;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

/* Image Header Blog Posts */

.med-portrait {
  float: left;
  width: 20%;
}

.large-landscape {
  float: left;
  width: 40%;
}

/* Media Queries
--------------------------------------------------*/
@media screen and (max-width: 580px) {
  .container {
    padding: 2em 0;
    width: 90%;
  }
  h1 {
    font-size: 3.75em;
  }
}

/* Clearfix
--------------------------------------------------*/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE */
.cf {
  *zoom: 1;
}
