body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

nav {
  background: #ea155c;
  color: #FFF;
  text-align: center;
  width: 100%;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  padding: 1em;
}

.container {
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 780px;
}

header.container {
  margin: 5em auto 3em auto;
}

h1 {
  color: #ea155c;
  font-size: 6em;
  font-family: 'Poiret One', cursive;
  line-height: 0.9em;
  margin: 0 0 0.15em 0;
  text-align: center;
}

h3 {
  color: #888;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

p {
  color: #555;
  font-size: 1.1em;
}

a {
  color: #ea155c;
}

/* Image Header Blog Posts */

.med-portrait {
  float: left;
  width: 20%;
}

.large-landscape {
  float: left;
  width: 40%;
}

/* Blog Posts */

.post {
  margin: 3em 0;
  padding: 0 2em;
}

.post h2 {
  color: #ea155c;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.post-date {
  color: #888;
  display: block;
  margin-bottom: 2em;
}

/* Media Queries
--------------------------------------------------*/
@media screen and (max-width: 580px) {
  .container {
    padding: 2em 0;
    width: 90%;
  }
  h1 {
    font-size: 3.75em;
  }
  .post {
    padding: 0;
  }
}

/* Clearfix
--------------------------------------------------*/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE */
.cf {
  *zoom: 1;
}
