---
title: Katie keeps it Simple
---

<div class="cf container">
  <article class="post">
    <h2>Chunky and Chic Sweaters on the Cheap</h2>
    <span class="post-date">August 25, 2013</span>
    <p>
      In the September issue of <a href="http://www.instyle.com/instyle/">InStyle</a>,
      there was an awesome piece about luxe sweaters and incorporating them into your
      wardrobe for Fall. I loved all of them, but they were just a tad out of my budget.
    </p>
    <p>
      So I went on a quick hunt for some fun alternatives after being inspired by the
      colors, textures, and flexibility of this type of piece. Pair this comfy duds
      with mini-skirts, tuck them into a pencil skirt, or just keep it casual in jeans
      or leather leggings (yes, please!). Add you favorite simple accessories and your
      go-to and you'll be ready for Fall in a snap!
    </p>
    <p>
      Enjoy these finds!
    </p>
  </article>
</div>
