---
title: Katie keeps it Simple
---

<div class="image-header">
  <img class="large-landscape" src="images/IMG_5047.jpg" />
  <img class="large-landscape" src="images/IMG_6493.jpg" />
  <img class="med-portrait" src="images/photo-1.jpg" />
</div>
